body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1580d8;
    color: #04c414;
    text-align: center;
    padding: 20px;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #030202; /* Optional: Add a border around the profile picture */
}



h1, p {
    margin: 10px 0;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
